<form>
    <div class="form-search">
        <div class="input-group ContactPageInput">
            <input type="text" name="q" size="21" maxlength="40" class="quick-search-text-input " ng-model="selected" autocomplete="off" value="text">


            <!-- wyszukiwanie typehead dla listy ponizej -->
            <span class="input-group-btn">
                <button  ng-click="sendDataButton(selected, 'pl')" class="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </span>
            <!-- wyszukiwanie typehead dla listy ponizej -->


        </div>
    </div>
</form>
